
# RFC1738 URL
broker: mqtts://localhost:1883

# RFC1738 URL with credentials
#broker: mqtts://username:password@localhost:1883

# list of topics to subscribe to
subscribe_topics:
    - '#'

# topic to publish to
publish_topic: foo/bar

# qos (default is 1)
#qos: 1

# mqtt client id - randomly generated if not set
client_id: pywis-pubsub-testing

# clean mqtt session on connection. Set to false to start from server saved offset
clean_session: true

# whether to verify data
verify_data: true

# TLS settings

# whether to verify server certificates (default=true)
# verify_certs: false

# PEM encoded client certificate
# certfile: /path/to/file.cert

# private key
# keyfile: /path/to/file.key

# whether to validate message against schema
validate_message: true

# storage: filesystem
storage:
    type: fs
    options:
        basedir: /tmp/foo/bar
        # filepath can be one of:
        # - data_id: 'properties.data_id' in the message (default)
        # - link: the local path in the canonical link
        # - combined: data_id + file extension either from link or guessing the media type
        filepath: data_id

# storage: s3
# NOTE: if S3 credentials are required, set the following environment variables:
# - AWS_ACCESS_KEY_ID: username
# - AWS_SECRET_ACCESS_KEY: password
#
# no additional configuration is required below

#storage:
#    type: S3
#    options:
#        url: http://localhost:9001
#        bucket: some-bucket
#

# advanced functionality: add your own code/workflow/trigger
#
# hook: # trigger that implements pywis-pubsub Hook (pywis_pubsub.hook.Hook)
#
# test hook available from pywis_pubsub.hook.TestHook
#hook: pywis_pubsub.hook.TestHook
